div {
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

mat-checkbox, mat-radio-button {
  margin-right: 10px;
}
